@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');


*{margin: 0;padding: 0;}

header{
    background-image: url(./Images//kyle-head-PW8K-W-Kni0-unsplash.jpg);
    height: 60vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat:no-repeat;
}
main{
    margin:0px 2rem;
}
.nav_link{
    display: flex;
    justify-content:flex-end;
}
.app{
    margin: 1rem auto 2rem 2rem;
}
.app i{
    padding: 1px;
    margin-left:2px;
}
.nav_link button{
    background-color: rgba(214, 79, 79,1);
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.nav_link button:hover{
    background-color: rgba(214, 79, 79,0.8);
    cursor: pointer;
}

.nav_link ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    padding: 5px 5px;
    transition: all 0.3s ease 0s;
}
.nav_link ul li a{
    text-decoration: none;
    color: aliceblue;

}

.nav_link ul li:hover{
    background-color: rgba(214, 79, 79,0.8);
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.name{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
}
.box{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 3.5rem;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
}
.box :nth-child(1){
    width: 30%;
    border: none;
    border-right: 1.5px solid rgb(186, 179, 179);
    border-radius: 0px;
    margin: 2px;
    padding: 1em;
}
.box :nth-child(2){
    width: 80%;
    border: none;
    margin: 2px 2px 2px 5px;
    padding: 1em;
    
}
.box input:focus {
   outline:none;
   /* color: rgba(214, 79, 79,0.8);;
   box-shadow: 0px 0px 2px 1px rgba(214, 79, 79,0.8) , -2px 0 0.4em rgba(214, 79, 79,0.8) ; */
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 2em 2em;
}
.wrap {
    height: 20em;
    width: 28vw;
    /* border: 1px solid #aaa; */
    display: flex;
    border-radius: 10px;
  }
  .cards a{
    text-decoration: none;
    box-shadow: 1px 1px 3px 1px rgb(144, 143, 143) , -2px 0 0.4em rgb(144, 143, 143) ;  
    margin: 0.8rem 1.5rem; 
    border-radius: 10px;
  }
  .wrap div {
    background-color: rgb(255, 255, 255);
    background-size:auto;
    /* box-shadow: -2px 0 0.4em rgb(144, 143, 143); */
    align-self: flex-end;
    height:10vh;
    width: 35vw;
    border-radius: 10px;
  }
  .wrap div p{
    font-size: 1.3rem;
    text-align: center;
    color:black;
    margin: auto auto;
    padding: auto auto;
  }

.cards a div h5{
    text-align: center;
    background-color: aliceblue;
    text-align:justify;
    border-radius: 5px;
}
.fav{
    display: flex;
    justify-content:space-around;
    margin: 3vh 3vw;
}
.carousel-control-prev-icon:hover , .carousel-control-next-icon:hover{
 background-color: rgb(214, 79, 79);
border-radius: 10px;

}
.carousel-item img{
    border: 1px solid rgb(214, 79, 79);
    border-radius: 20px;
    height: 18em;
    width: 22em;
    /* margin:1rem 2rem; */
   
}
footer{
   background-color: rgba(214, 79, 79,0.8);
}
.arrange{
    display: flex;
    justify-content: flex-start;
}
.arrange ul{
    margin: 10px 10px;
}
.arrange ul li{
    list-style: none;
    padding: 1vh 2vw;

}
.arrange ul li a{
    color: aliceblue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.zom{
   color: aliceblue;
   font-size: 1.3rem;
   font-family: 'Open Sans', sans-serif;
   margin: 5px 10px;
}

.links{
   margin-left: auto;
}
.links li{
    color:aliceblue;
    font-family: 'Open Sans', sans-serif;
    padding: 2px
}
.links li a{
    display: inline-block;
    height:30px;
    width: 30px;
}